/* BODY */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#big_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}

/* HEADER */

.header{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social_box{
    border: 1px solid red;
    margin-left: auto;
}

#social img{
    width: 40px;
}

.title_box{
    border: 1px solid red;
    width: 100%;
}

#title{
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

/*COUNTER*/

.counter_box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.13);
	backdrop-filter: blur(10px);
    box-shadow: 0 0 36px rgba(8,7,16,0.6);
    width: 200px;
    height: 200px;
    margin-top: 350px;
    border-radius: 10%;
}

/* DISPLAY */

.display_box{
    color: aliceblue;
    text-align: center;
}

#display{
    font-size: 100px;
}

#display p{
    margin: 0;
}

/* BOTTONI */

.button_box{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 200px;
    margin-top: 30px;
}

.button_box button{
    border: none;
    padding: 12px 24px;
    border-radius: 10%;
    background-color: rgb(21, 145, 62);
    box-shadow: 2px 5px 0px 0px rgba(20, 19, 20, 0.6);
}

.start_box{
    margin-top: 50px;
}

.start_box button{
    width: 150px;
    height: 50px;
    font-size: 30px;
}